@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #13151D;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #13151D;
}

::-webkit-scrollbar-thumb {
  background: #2D3047;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E356FA;
}